#!/bin/bash

mkdir -p /var/cesm
cd /var/cesm
/cesm-1_2_2/scripts/create_newcase \
  -case case1 \
  -compset {{ getenv "COMPSET" }} \
  -res {{ getenv "GRID" }} \
  -mach sunshine \
  -mpilib openmpi \
  -compiler gnu \
  -pes_file sunshine32_pes.xml
